<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script src="vue.js"></script>
        <title>Dialog Ruta  </title>
    </head>

    <body>
        <table id="kundvagn">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Antal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in products">
                    <td> {{ product.name }} </td>
                    <td> {{ product.quantity }} </td>
                    <td><input v-on:click="addToCart(index)" class="button" type="button" value="+"></td>
                </tr>
            </tbody>
        </table>

    </br>

    <div id="app">
        City Name: <input type="text" v-model="name"><br>
        City Pop: <input type="text" v-model="population"><br>
        <input v-on:click="addCity" class="button" type="submit"  id="add-city" value="Submit">
    </div>
    
    </br>

    <h4>Cities</h4>
    <dl id="cities">
        <template v-for="city in cities">
            <dt> {{ city.name }} </dt>
            <dd> {{ city.population }} </dd>
        </template>
    </dl>

        <!-- 
        <div id="app">
            <img alt="" :src="avatar">
            {{ message }} </br>
            Hej {{ name }}!

            <input v-on:click="onClick" type="button">

            <!-- <div v-if="credits > 0">Hur mycket vill du satsa?</div> 

            <input v-bind:disabled="value === 1" v-on:click="decrease" type="button" value="-">
            <input v-on:click="increase" type="button" value="+">
            <div>
              {{ value }}
            </div>

            <form @submit.prevent="onSubmit">
                <input v-model="userName">
                <input type="submit" value="Spela">
            </form>
            <div>{{ message }}</div>

            <section>
                <h1>Players</h1>
                <ol>
                    <li v-for="player in players">
                    {{ player.name }}
                    <span class="credits">{{ player.credits }} credits</span>
                    </li>
                </ol>
            </section>
        </div>
    -->

        <script src="index.js"></script>
        <script src="vue.js"></script>
    </body>
</html>

